numexpr==2.10.2
spatial_image==1.1.0
torchmetrics==1.4.2
numpyro==0.15.3
arrow==1.3.0
cons==0.4.6
uri-template==1.3.0
rfc3339-validator==0.1.4
pydantic_core==2.33.2
executing==2.1.0
xarray-schema==0.0.3
pexpect==4.9.0
panel==1.5.2
absl-py==2.1.0
pandas==2.2.3
tornado==6.4.1
pydantic==2.11.4
lazy_loader==0.4
leidenalg==0.10.2
tomli==2.2.1
fqdn==1.5.1
llvmlite==0.44.0
decorator==5.1.1
importlib_metadata==8.5.0
filelock==3.16.1
idna==3.10
babel==2.17.0
scikit-misc==0.5.1
traitlets==5.14.3
fonttools==4.54.1
nest-asyncio==1.6.0
pyro-ppl==1.9.1
Markdown==3.7
distlib==0.3.9
decoupler==1.9.2
array_api_compat==1.9
multidict==6.1.0
ptyprocess==0.7.0
aiosignal==1.3.1
prometheus_client==0.21.1
isoduration==20.11.0
slicerator==1.1.0
zipp==3.20.2
scvi-colab==0.13.0
contextlib2==21.6.0
optax==0.2.3
fsspec==2023.6.0
pyreadr==0.5.2
tinycss2==1.2.1
torch==2.4.1
importlib_resources==6.4.5
chex==0.1.87
s3fs==2023.6.0
dask==2024.9.1
overrides==7.7.0
parso==0.8.4
webencodings==0.5.1
pyviz_comms==3.0.3
lifelines==0.30.0
hmmlearn==0.3.3
h5netcdf==1.4.0
urllib3==1.26.20
torchview==0.2.6
fasteners==0.19
docrep==0.3.2
rpy2==3.5.16
pip==25.1.1
msgpack==1.1.0
opt_einsum==3.4.0
anyio==4.9.0
anndata==0.10.9
defusedxml==0.7.1
legacy-api-wrap==1.4
lightning-utilities==0.11.7
requests==2.32.3
datashader==0.16.3
flax==0.9.0
imageio==2.35.1
squidpy==1.6.1
cloudpickle==3.0.0
h5py==3.12.1
xarray-einstats==0.8.0
Jinja2==3.1.4
numcodecs==0.13.0
natsort==8.4.0
shapely==2.0.6
async-lru==2.0.5
locket==1.0.0
tensorstore==0.1.66
virtualenv==20.31.2
soupsieve==2.6
tqdm==4.66.5
markdown-it-py==3.0.0
sympy==1.13.3
six==1.16.0
aiobotocore==2.5.4
seaborn==0.13.2
h11==0.14.0
GitPython==3.1.44
texttable==1.7.0
xyzservices==2024.9.0
ipython==8.27.0
joblib==1.4.2
autograd-gamma==0.5.0
asciitree==0.3.3
zict==3.0.0
packaging==24.1
graphviz==0.20.3
scanpy==1.10.3
Werkzeug==3.0.4
aiohttp==3.10.8
pytensor==2.25.5
lightning==2.4.0
numba==0.61.2
ruptures==1.1.9
pyparsing==3.1.4
jupyter_client==8.6.3
beautifulsoup4==4.13.3
pynndescent==0.5.13
pandocfilters==1.5.1
json5==0.12.0
fastjsonschema==2.21.1
exceptiongroup==1.2.2
pyct==0.5.0
typing-inspection==0.4.0
jsonpointer==3.0.0
pyzmq==26.2.0
appnope==0.1.4
omnipath==1.0.8
setproctitle==1.3.6
pre_commit==4.2.0
attrs==24.2.0
jupyter_server==2.15.0
miceforest==6.0.3
tifffile==2024.9.20
umap-learn==0.5.6
param==2.1.1
plotly==6.0.0
PyWavelets==1.8.0
mdit-py-plugins==0.4.2
certifi==2024.8.30
sparse==0.15.4
uc-micro-py==1.0.3
cffi==1.17.1
jsonschema==4.23.0
ml_collections==0.1.1
nbformat==5.10.4
igraph==0.11.6
plotnine==0.14.5
async-timeout==4.0.3
setuptools==65.5.0
grpcio==1.66.2
xarray-dataclasses==1.8.0
stack-data==0.6.3
argon2-cffi==23.1.0
qdldl==0.1.7.post4
asttokens==2.4.1
cachetools==5.5.0
lightgbm==4.5.0
threadpoolctl==3.5.0
mizani==0.13.5
psutil==6.0.0
identify==2.6.10
ome-zarr==0.9.0
kiwisolver==1.4.7
jedi==0.19.1
jupyter_core==5.7.2
rasterio==1.4.1
nbconvert==7.16.6
aiohappyeyeballs==2.4.3
referencing==0.36.2
jmespath==1.0.1
contourpy==1.3.0
bokeh==3.6.0
stdlib-list==0.10.0
Send2Trash==1.8.3
jupyter-lsp==2.2.5
pyarrow==17.0.0
nbclient==0.10.2
jupyterlab==4.4.0
gitdb==4.0.12
holoviews==1.19.1
colorcet==3.1.0
sniffio==1.3.1
nodeenv==1.9.1
jsonschema-specifications==2024.10.1
mdurl==0.1.2
more-itertools==10.5.0
cfgv==3.4.0
zarr==2.18.3
python-dateutil==2.9.0.post0
mpmath==1.3.0
jupyterlab_pygments==0.3.0
mistune==3.1.3
affine==2.4.0
torchvision==0.19.1
jaxlib==0.4.33
pytz==2024.2
toolz==0.12.1
sortedcontainers==2.4.0
geopandas==1.0.1
typeguard==4.3.0
botocore==1.31.17
bleach==6.1.0
xarray==2024.9.0
wcwidth==0.2.13
protobuf==5.28.2
matplotlib==3.8.4
ml_dtypes==0.5.0
charset-normalizer==3.3.2
tzlocal==5.2
autograd==1.7.0
jupyter-events==0.12.0
partd==1.4.2
jax==0.4.33
sknw==0.15
narwhals==1.29.1
jupyterlab_server==2.27.3
aioitertools==0.12.0
cligj==0.7.2
webcolors==24.11.1
etuples==0.3.9
httpcore==1.0.7
prompt_toolkit==3.0.48
PySCIPOpt==5.5.0
pycparser==2.22
cycler==0.12.1
torchgmm==0.1.2
pooch==1.8.2
xgboost==3.0.2
liana==1.5.1
comm==0.2.2
rich==13.9.1
imbalanced-learn==0.13.0
tblib==3.0.0
scvi-tools==1.2.0
networkx==3.3
click-plugins==1.1.1
multipledispatch==1.0.0
linkify-it-py==2.0.3
pure_eval==0.2.3
PIMS==0.7
scikit-image==0.24.0
orbax-checkpoint==0.6.4
interface-meta==1.3.0
spatialdata-plot==0.2.6
tensorboard==2.18.0
formulaic==1.1.1
MarkupSafe==2.1.5
frozenlist==1.4.1
scikit-survival==0.23.1
pillow==10.4.0
docker-pycreds==0.4.0
yarl==1.13.1
rfc3986-validator==0.1.1
etils==1.9.4
debugpy==1.8.6
python-json-logger==3.3.0
matplotlib-scalebar==0.8.1
terminado==0.18.1
sentry-sdk==2.29.1
distributed==2024.9.1
osqp==0.6.7.post3
argon2-cffi-bindings==21.2.0
Cython==3.0.11
statsmodels==0.14.3
typing_extensions==4.12.2
PyYAML==6.0.2
httpx==0.28.1
scipy==1.14.1
miniKanren==1.0.3
matplotlib-inline==0.1.7
pymc==5.17.0
smmap==5.0.2
xarray-spatial==0.4.0
numpy==2.2.5
session_info==1.0.0
humanize==4.10.0
tensorboard-data-server==0.7.2
xarray-datatree==0.0.14
dask-image==2024.5.3
logical-unification==0.4.6
wandb==0.19.11
tzdata==2024.2
pyro-api==0.1.2
rpds-py==0.23.1
jupyter_server_terminals==0.5.3
dask-expr==1.1.15
spatialdata==0.2.3
types-python-dateutil==2.9.0.20241206
pyproj==3.7.0
platformdirs==4.3.6
pytorch-lightning==2.4.0
ipykernel==6.29.5
annotated-types==0.7.0
inflect==7.4.0
patsy==0.5.6
scikit-learn==1.5.2
pyogrio==0.10.0
Pygments==2.18.0
sklearn-compat==0.1.3
multiscale_spatial_image==1.0.1
validators==0.34.0
arviz==0.20.0
click==8.1.7
tabulate==0.9.0
notebook_shim==0.2.4
cellcharter==0.3.1
wrapt==1.16.0
mudata==0.3.1
ecos==2.0.14
websocket-client==1.8.0
